<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>BALLS Ph.D. Candidate: Ecology, Evolution and Behavior</h1>
            <span>University of Texas at Austin</span>
            <span><address>Austin, TX</address><time>2010 (in progress)</time></span>
        </header>
        <p>
            <em>Dissertation (in progress): “Mechanisms facilitating context appropriate processing of social information”</em>
        </p>
    </article>
    <article>
        <header>
            <h1>B.S. Biochemistry and Molecular Biology <em> (magna cum laude)</em></h1>
            <span>University of Massachusetts at Amherst</span>
            <span><address>Amherst, MA</address><time>2004 to 2008</time></span>
        </header>
        <p>
            <em>Honors Thesis (Lit Review): "Evolution of virulence factors in Bacillus anthracis"</em>
        </p>
    </article>
</section>
