<section class="thirteen columns">
    <h1>Employment and Lab experience</h1>
    <article>
        <header>
            <h1>Lab technician and Research Associate (Dr. Mark Alkema's lab</h1>
            <span><address>Worcester, MA</address><time>2008-2010</time></span>
        </header>
        <p>I managed the ordering of supplies and other lab tasks. I worked on a variety of projects involving the neural molecular mechanisms of the C. elegans escape response. </p>
    </article>
    <article>
        <header>
            <h1>Undergraduate Researcher (Dr. John Nambu's lab)</h1>
            <span><address>Amherst, MA</address><time>2008</time></span>
        </header>
        <p>I worked on a phylogenetics project involving the protein "Morgue" in Drosophila. </p>
    </article>
</section>
