<section class="thirteen columns">
    <h1>Fellowships</h1>
    <article>
        <header>
            <h1>NSF Graduate Research Fellowship</h1>
            <span><address>$30,000 + tuition/year</address><time>2012 to 2015</time></span>
        </header>
        <header>
            <h1>Recruitment Fellowship, Integrative Biology department</h1>
            <span><address>24,000 + tuition/year</address><time>2010 to 2012</time></span>
        </header>
        <header>
            <h1>Carl Gottfried Hartman Graduate Fellowship Endowment Fund</h1>
            <span><address>$1,000</address><time>2012</time></span>
        </header>
    </article>
</section>
