<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <header>
            <h1><a href="http://rspb.royalsocietypublishing.org/content/283/1822/20152359"> The Social and Ecological Costs of an 'Over-Extended' Phenotype.</a></h1><i>Proceedings of the Royal Society B.</i> (2016). </header>
            <span>Jordan A.J., <em>Maguire S.M.</em>, Hofmann H.A., Kohda M.</span>
    </article>
<article>
        <header>
            <h1><a href="http://press.endocrine.org/doi/10.1210/en.2015-1032?url_ver=Z39.88-2003&rfr_id=ori%3Arid%3Acrossref.org&rfr_dat=cr_pub%3Dpubmed&"> Testing the Crticial Window Hypothesis of Timing and Duration of Estradiol Treatment on Hypothalamic Gene Networks in Reproductively Mature and Aging Female Rats.</a></h1><i>Endocrinology</i> 156: 2918-2933 (2015). </header>
            <span>Yin W., <em>Maguire S.M.</em>, Pham B., Garcia A.N., Dang N.V., Liang J., Wolfe A., Hofmann H.A., Gore A.C.</span>
    </article>
    <article>
        <header>
            <h1><a href="http://www.cell.com/current-biology/abstract/S0960-9822(11)00769-X?_returnURL=http%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS096098221100769X%3Fshowall%3Dtrue"> The <i>C. Elegans</i> Touch Response Facilitaes Escape from Predacious Fungi.</a></h1> <i>Current Biology</i> 21: 1326-1330 (2011).</header>
            <span><em>Maguire S.M.</em>,Clark C.M., Nunnari J., Pirri J.K., Alkema M.J.</span>
    </article>
</section>
