<section class="thirteen columns">
    <h1>Teaching Experience</h1>
    <article>
        <header>
            <h1>Teaching Assistant: BIO311d</h1>
            <span><address>UT Austin Bio</address><time>Fall 2015</time></span>
        </header>
        <p>Introduction to Ecology and Evolution. Led weekly discussions on topics ranging from the effects of global warming, to the evolution of new species, under Professor Don Levin. </p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant: Fundamentals of Machine Learning</h1>
            <span><address>UT Austin CCBB Summer School</address><time>May 2015</time></span>
        </header>
        <p>Assisted Professor Dennis Wylie in a short course on the fundamentals of machine learning. </p>
    </article>
    <article>
        <header>
            <h1>Instructor: R Short Course</h1>
            <span><address>UT Austin Department of Statistics and Data Science</address><time>2013-2014</time></span>
        </header>
        <p>Designed and taught one day workshops throughout the semester on the basics of the R programming language for beginners as well as graphing and visualization for more advanced users. </p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant: R Short Course</h1>
            <span><address>UT Austin Department of Statistics and Data Science</address><time>2012</time></span>
        </header>
        <p>Assisted with one day workshops throughout the semester on the basics of the R programming language. </p>
    </article>
</section>
