<section class="thirteen columns">
    <h1>Volunteer activities</h1>
    <article>
        <header>
            <h1>Down Syndrome Association of Central Texas Volunteer teacher</h1>
            <span><address>Austin, TX</address><time>2012</time></span>
        </header>
        <p>Taught biology to adults with down syndrome </p>
    </article>
    <article>
        <header>
            <h1>Citizen Schools, Citizen Teacher</h1>
            <span><address>Austin, TX</address><time>Spring 2011</time></span>
        </header>
        <p>Taught a 10 week science course for middle school (6-8th grade) students</p>
    </article>
    <article>
        <header>
            <h1>Career day speaker</h1>
            <span><address>Barrington Elementary school, Austin TX</address><time>Fall 2011</time></span>
        </header>
        <p>Volunteer speaker at a STEM carreer day for elementary school students</p>
    </article>
</section>
